 // palette-colors 
$minty-snow: #4BC1BB;
$holiday-red: #C32032;
$holiday-pink: #D92990;
$holiday-green: #97C93C;
$buck-green: #84C249;
$buck-dark-green: #178942;

// breakpoints
// $mobile-width: 425px;
// $tablet-portrait-width: 768px;
// $tablet-width:1024px;
// $desktop-width: 1025px;

// grid variables 
$pad: 1em;
$halfpad: 0.5em;
$maxWidth: 980px;
$desktopWidth: 980px;
$tabletWidth: 768px;