div.row.row-1 > div.column.right > .tier2-container.home-block:nth-child(2), .tier3-container.home-block, .tier4-container.home-block {
	outline: 1px solid #e1e1e1;
}
.tier3-container.home-block {
	box-sizing: content-box;
}
.row .tier4-container {
	height: 342px;
	@media (min-width : 768px) and (max-width : 1279px) {
		height: auto;
	}
}
.jcarousel ul li {
	margin-right: 3em;
}
.slider-wrapper .product-tile .product-name a {
	text-transform: capitalize;
}
.row.row-3 {
	@media (min-width : 768px) and (max-width : 1279px) and (orientation : portrait) {
		width: 100%;
		display: block;
	}
}
.tier4-container.left.home-block, .tier4-container.right.home-block {
	@media (min-width : 768px) and (max-width : 1279px) and (orientation : portrait) {
		max-width: 503px;
		margin: 0 auto;
		float: none;
	}
}
.tier4-container.right.home-block {
	@media (min-width : 768px) and (max-width : 1279px) and (orientation : portrait) {
		margin: 1em auto;
	}
}

/* lpos - march */
.tier2-container.home-block.three-high {
	@media (min-width: 1280px) {
		width: 406px;
		height: 146px;
		overflow: hidden;
	}
	@media (max-width: 1279px) and (min-width: 768px){
		clear: both;
		float: none;
		height: auto;
		margin-bottom: 6px;
		outline: none;
		text-align: center;
	}
	@media (max-width: 1279px) and (min-width: 768px) and (orientation: portrait) {
		margin: 0.5em auto;
	}
}
.tier2-container.home-block.three-high:nth-child(2) {
	margin-bottom: 13px;
	outline: none !important;
	@media (max-width: 1279px) and (min-width: 768px) {
		margin-bottom: 6px;
	}
}
.row .tier2-container:first-child {
	@media (min-width: 1280px) {
	    margin-bottom: 10px;
	}
}
.tier2-container.home-block:nth-child(3) {
	// outline: 1px solid #e1e1e1;
	outline: none;
}
.row .tier3-container {
	@media (min-width : 768px) and (max-width : 1279px) and (orientation : portrait) {
		width: 220px;
		height: auto;
	}
}
.row .tier3-container:last-child {
	@media (min-width : 768px) and (max-width : 1279px) and (orientation : portrait) {
		display: block;
	}
}
.row .center {
	@media (max-width: 1279px) and (min-width: 768px) and (orientation: portrait) {
		float: left;
	}
}
.tier3-container.home-block.four-block {
	width: 300px;
	height: 265px;
	margin-right:1em;
	overflow: visible;
	@media  (min-width: 768px) and (max-width: 1279px) {
		width: 236px;
		height: auto;
		margin-top: 0.25em;
		margin-bottom: 0;
	}
	@media (min-width : 768px) and (max-width : 1279px) and (orientation : portrait) {
		width: 23.23%;
		margin-top: 0;
		margin-bottom: 0;
	}
}
.tier3-container.home-block.four-block:nth-child(1) {
	@media  (min-width: 768px) and (max-width: 1279px) {
		margin-left:1em;
	}
	@media (min-width : 768px) and (max-width : 1279px) and (orientation : portrait) {
		margin-left: 0;
	}
} 
.tier3-container.home-block.four-block:nth-child(4) {
	margin-right: 0;
	@media  (min-width: 768px) and (max-width: 1279px){
		margin-right: 1em;
	}
	@media (min-width : 768px) and (max-width : 1279px) and (orientation : portrait) {
		margin-right: 0;
	}
}