// LPOS - MARCH

.tier3-mobile {
	border: 2px solid #D30E2C;
	margin: 0.75em;
	padding-left: 0;
	width: auto;
	&.imgX.lposBanner{
		float: none;
	}
	&.imgX {
		width: 100%;
	}
	&a>.textWrap {
		padding-left: 0.75em;
	}
	&p{
		width: 100%;
	}
}
/*.tier3-mobile .imgX.lposBanner {
	float: none;
}
.tier3-mobile .imgX {
    width: 100%;
}
.tier3-mobile a>.textWrap {
    padding-left: 0.75em;
}*/
.textWrapX {
	display: inline-block;
	padding: 1em 0;
	text-align: center;
	width: 100%;
}
/*.tier3-mobile p {
	width: 100%;
}*/